<h1>Category</h1>
<table class="table">
  <tr>
    <th colspan=6 class="text-center">
      <a routerLink="../addcat" class="btn btn-danger">Add Category</a>
    </th>
  </tr>
  <tr>
    <th>S.no</th>
    <th>Cname</th>
    <th>Description</th>
    <th>Image</th>
    <th>Created At</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let c of catdata; let i=index">
      <th>{{i+1}}</th>
      <th>{{c.cname|titlecase}}</th>
      <th>{{c.description}}</th>
      <th><img src="http://localhost:4567/images/{{c.image}}" width=100 height=60/></th>
      <th>{{c.created_at|date}}</th>
      <th>
         
        <a routerLink="../editcat/{{c._id}}">Edit</a><br/>
         <a href="javascript:void(0)" (click)="delcat(c._id)">Delete</a>
      </th>
    </tr>
</table>
