<html>
    <head></head>
    <title>Log in</title>
    <body>
    <section id="form">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <div class="login-form">
                    <h2>Login to your account</h2>
                    <form [formGroup]="userlogin" (ngSubmit)="loginData()">
                            <div class="form-group">
                        <input type="text" placeholder="Email Address" formControlName="email" />
                        <div *ngIf="userlogin.controls.email.invalid && userlogin.controls.email.touched" class="alert alert-danger">
                                <div *ngIf="userlogin.controls.email.errors.required">Email is required</div>
                              <div *ngIf="userlogin.controls.email.errors.email">Enter Valid Email</div>
                              </div>
                            </div>
                              <div class="form-group">
                        <input type="email" placeholder="Password" formControlName="password" />
                        <div *ngIf="userlogin.controls.password.invalid && userlogin.controls.password.touched" class="alert alert-danger">
                                <div *ngIf="userlogin.controls.password.errors.required">Password is required</div>
                              <div *ngIf="userlogin.controls.password.errors.minLength">Enter min 6 Characters</div>
                              </div>
                            </div>
                        <span>
                            <input type="checkbox" class="checkbox"> 
                            Keep me signed in
                        </span>
                        <div class="container row">
                                <button type="submit" class="btn btn-default" [disabled]="userlogin.invalid"  >Login</button>
                                <button class="btn btn-default" (click)= "register()" >Register</button>
                        </div>
                        
                    </form>
                </div>
            </div>
            </div>
    </div>
    

</section>
   
</body>
</html>

