<div class="row">
    <app-sidebar></app-sidebar>
    <div class="col-sm-9 padding-right">
            <div class="product-details"><!--product-details-->
                <div class="col-sm-5">
                    <!-- <div class="view-product">
                        <img src="images/product-details/1.jpg" alt="" />
                        <h3>ZOOM</h3>
                    </div> -->
                    <div id="similar-product" class="carousel slide" data-ride="carousel">
                        
                          <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                  
                                  
                                  <a href=""><img src="http://localhost:4567/images/{{proData.image}}"  width="200" height="200" alt=""></a>
                                </div>
                                <div class="item">
                                  <a href=""><img src="http://localhost:4567/images/{{proData.image}}" width="200" height="200" alt=""></a>
                                </div>
                                <div class="item">
                                  <a href=""><img src="http://localhost:4567/images/{{proData.image}}" width="200" height="200" alt=""></a>
                                </div>
                            </div>

                          <!-- Controls -->
                          
                    </div>

                </div>
                <div class="col-sm-7">
                    <div class="product-information"><!--/product-information-->
                        <img src="http://localhost:4567/images/{{proData.image}}" width="100" height="100" class="newarrival" alt="hello" />
                        <br/><br/><br/>
                        <h2 #pn>{{proData.pname}}</h2>
                        <p #pid> {{proData._id}}</p>
                        
                        <span>
                            <span><b>Special Price:</b>{{proData.sPrice}}</span>
                            <!-- <label>Quantity:</label>
                            <input type="number" [(ngModel)] = "proQuantity" name = "quantity" /> -->
                            <button type="button" class="btn btn-fefault cart" (click) = "OnAddCart(proData)">
                                <i class="fa fa-shopping-cart"></i>
                                Add to cart
                            </button>
                            <!-- {{proData.pname}}
                            {{proQuantity}}
                            {{totalPrice}} -->
                        </span>
                        <p><b>Availability:</b> In Stock</p>
                        <p><b>Condition:</b> New</p>
                        
                        
                    </div><!--/product-information-->
                </div>
            </div><!--/product-details-->
            
            <div class="category-tab shop-details-tab"><!--category-tab-->
                
            </div><!--/category-tab-->
        </div>
</div>