<header class="jumbotron">
   <h1 class="text-center">Admin Panel</h1>
</header>
<section class="container">
  <div *ngIf="errMsg" class="alert alert-danger">
     {{errMsg}};
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="loginData()">
    <div class="form-group">
      <label>Email</label>
      <input type="text" class="form-control" formControlName="email">
      <div *ngIf="loginForm.controls.email.invalid && loginForm.controls.email.touched" class="alert alert-danger">
        <div *ngIf="loginForm.controls.email.errors.required">Email is required</div>
      <div *ngIf="loginForm.controls.email.errors.email">Enter Valid Email</div>
      </div>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" formControlName="password">
      <div *ngIf="loginForm.controls.password.invalid && loginForm.controls.password.touched" class="alert alert-danger">
        <div *ngIf="loginForm.controls.password.errors.required">Password is required</div>
      <div *ngIf="loginForm.controls.password.errors.minLength">Enter min 6 Characters</div>
      </div>
    </div>
    
    <div class="form-group">

      <input type="checkbox">
      <label>Remember Me</label>
    </div>
    <input type="submit" value="Login" class="btn btn-success" [disabled]="loginForm.invalid">
  </form>
</section>