<div class="col-sm-7">
    <div class="product-information" *ngFor = "let cp of cartData,index as i"><!--/product-information-->
        <img src="http://localhost:4567/images/{{cartData[i].image}}" width="100" height="100" class="newarrival" alt="hello" />
        <br/><br/><br/>
        <h2 >{{cp.pname}}</h2>
        <p > {{cp._id}}</p>
        
        <span>
            <span><strong>Special Price:</strong>{{cp.sPrice}}</span>
            <label>Quantity:</label>
            <input type="number"  [(ngModel)] = "proQuantity"  name = "quantity" />
        </span>
        <p><b>Availability:</b> In Stock</p>
        <p><b>Condition:</b> New</p>
        <span><strong>Total Price:</strong></span>
        {{cp.sPrice*proQuantity}}
        
    </div><!--/product-information-->
</div>