<div class="col-sm-3">
        <div class="left-sidebar">
                <div class="shipping text-center">
                        <img src="assets/images/home/fridaysale.jpg" alt="" width="270" height="400"/>
                    </div>
                    <div class="shipping text-center">
                            <img src="assets/images/home/springsale.jpg" width="270" height="400" alt="" />
                        </div>
                <div class="shipping text-center">
                    <img src="assets/images/home/shipping.jpg" alt="" />
                </div>
         </div>
    </div>