<h1>Edit Products</h1>
<!-- <form [formGroup]="myForm" (ngSubmit)="postProduct()">
  <div class="form-group">
    <label>Category Name</label>
    <select class="form-control" formControlName="cname">
      <option value="">Select One</option>
      <option *ngFor="let c of catData" value="{{c.cname}}">{{c.cname}}</option>
    </select>
  </div>
    <div class="form-group">
      <label>Product Name</label>
      <input type="text" class="form-control" formControlName="pname"/>
    </div>
    <div class="form-group">
      <label>Features</label>
      <textarea  class="form-control" formControlName="features"></textarea>
    </div>

      <div class="form-group">
        <label>Price</label>
        <input type="text" class="form-control" formControlName="price"/>
      </div>
      <div class="form-group">
        <label>Discount</label>
        <input type="text" class="form-control" formControlName="discount"/>
      </div>
     
      

      <div class="form-group">
          <label>Image</label>
          <input type="file" class="form-control" (change)="uimage($event)"/>
        </div>
        <input type="submit" value="Submit" class="btn btn-success" [disabled]="myForm.invalid"/>
  
</form> -->